<div class="body bg-black h-100vh">
  <nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container ">
      <a class="navbar-brand mr-auto mt-3" href="#">PREKSHA R PAILWAN</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse mt-3 navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link"routerLink="/dashboard">PORTFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">ABOUT ME</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container mt-5 ">
    <div class="row">
      <div class="col-7">
        <h1 class="port pb-3 ms-3 ps-5">CONTACT</h1>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" style="max-width: 600px; margin: 0 auto;">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" class="form-control my-3">
          </div>
          <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" id="subject" formControlName="subject" class="form-control my-3">
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea id="message" formControlName="message" class="form-control my-4"></textarea>
          </div>
          <button type="submit" class="btn">Submit</button>
        </form>
      </div>
      <div class="col-md-4">
        <div class="img-frame" [ngClass]="{'tilted': !isImageToggled, 'straight': isImageToggled}">
          <img src="./assets/travel.jpg" alt="Image 1" class="img-fluid" style="height: 450px; width: 420px;" (mouseover)="toggleImage()" (mouseleave)="toggleImage()">
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="bg-black text-center pt-5 text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <h6>PREKSHA PAILWAN</h6>
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" role="button"
        ><i class="fab fa-facebook-f "></i
      ></a>

      <!-- Google -->
      <a data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-floating m-1" href="https://www.google.com/" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-floating m-1" href=" https://www.linkedin.com/in/preksha-r-pailwan-5b77b8287/" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-floating m-1" href="https://github.com/" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Developed and Designed by
    <a class="text-white" href="https://www.linkedin.com/in/preksha-r-pailwan-5b77b8287/">Preksha R Pailwan</a>
  </div>
  <!-- Copyright -->
</footer>

