<div class="page-container ">
    <header class="w-100 h-auto p-0 m-0 ">
        <div class="container-fluid h-up ">
            <div class=" w-100 d-flex align-items-center  ">
                <div class="main-logo "><img width="120" src="assets/sysflogo.png"/></div>
                <div class="user-info ms-auto ">
                    <h1 class="text-light fs-6 fw-bold  pt-3 pb-0">Preksha R</h1>
                    <p class="text-light pt-0">Hello Welcome</p>
                </div>
            </div>
        </div>
        <div class="w-100 navbar m-0 p-0 ">
            <div class="container-fluid h-b m-0 p-0">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav p-0">
                          <li class="nav-item">
                            <a class="nav-link text-light px-3" aria-current="page" href="./dashboard.component.html">DASHBOARD</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-light px-3"  [routerLink]="['/product']">PRODUCT</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-light px-3" href="#">CALENDER</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-light px-3">REPORT</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-light px-3">SETTINGS</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-light px-3">HELPCENTER</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link text-light px-3">LOGOUT</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>
            </div>
        </div>
    </header>
    <div class="container-fluid ">
        <div class="w-100 p-4">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="bg-info text-center p-4 mb-3">
                        <p class="text-light p-0 m-0 fs-6 text-upper-case">Dashboard Item 1</p>
                        <h3 class="text-light fs-3 fw-bold m-0 p-0">28</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="bg-success text-center p-4 mb-3">
                        <p class="text-light p-0 m-0 fs-6 text-upper-case">Dashboard Item 2</p>
                        <h3 class="text-light fs-3 fw-bold m-0 p-0">28</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="bg-danger text-center p-4 mb-3">
                        <p class="text-light p-0 m-0 fs-6 text-upper-case">Dashboard Item 3</p>
                        <h3 class="text-light fs-3 fw-bold m-0 p-0">28</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="bg-warning text-center p-4 mb-3">
                        <p class="text-light p-0 m-0 fs-6 text-upper-case">Dashboard Item 4</p>
                        <h3 class="text-light fs-3 fw-bold m-0 p-0">28</h3></div>
                </div>
            </div>
            <div class="body">
            <div class="w-100 bg-white p-4">
                <div class="row">
                    <div class="col-lg-3">
                        <img width="100%" src="/assets/img2.jpg"/>
                    </div>
                    <div class="col-lg-9">
                        <h1 class="text-dark fs-5 fw-bold m-0 p-0 pb-2">Your Heading</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <footer>
      <div class="footer text-dark text-center py-2 m-0 ">
        <p>copyright reserved</p>
      </div>
    </footer>
</div>


