body {
    background-color: lightgray;
    margin: 0;
}
.topheader {
    background-color: rgb(9, 9, 93);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height:40px;
    margin:0px;
    
}
.topheader p{
    padding:2px;
    color:white;
    margin-top:0;
    margin-bottom: 0;
    margin-right:15px;
}
.topheader h2{
    padding:2px;
    color:white;
    margin-top:0;
    margin-bottom: 0;
    margin-right:15px;
}
.logo{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-options{
    display: flex;
    align-items: center;
    color: white;
    list-style: none;
    gap:1rem;
    letter-spacing: 0.01rem;
}
.logo img {
    width: 150px; 
    height: auto;
}
.name{
    display: flex;
}
.icon{
    width:15px;
    height:auto;
    padding-right:20px;
    margin-top: 18px;

}
.btmheader {
    background-color:white;
    padding: 8px;
    
}
.btmheader h3 {
    color: black;
    text-transform: uppercase;
    margin-top:0;
    margin-bottom: 0;
    margin-left:15px;
}
.btmheader h5{
    color: rgb(177, 173, 173);
    margin-top:0;
    margin-bottom: 0;
    margin-left:15px;
}
.container{
    background-color: white;
    height: auto;
    padding: 20px;
    margin: 60px 30px 70px;
    text-transform: uppercase;
    
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: none;
    padding: 8px;
    text-align: left;
}
.field{
    background-color: rgb(245, 246, 246);
    width:190px;
}


tr {
    border-bottom: 1px solid lightgray;
}
footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}

.footer-content {
    text-align: center;
    color: rgb(203, 199, 199);
}